.login {
    background-color: white;
    display: flex;
    padding: 15px;
    border-radius: 10px;
    color: #575757;
    flex-direction: column;
    width: 300px;
    text-align: center;
}

.loginForm {
    display: flex;
    flex-direction: column;
}

.loginForm label {
    margin-top: 10px;
    margin-bottom: 5px;
}

.inputForm {
    height: 25px;
    border-radius: 5px;
    border: gray 1px solid;
    padding-left: 10px;
}

.submitButton {
    background-color: #ed5584;
    color: white;
    border: none;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}

.loginHeader {
    display: flex;
    flex-direction: column;
}
